#rect1 {
    -fx-background-color: linear-gradient(#1E6BFF, #2871FFAB, #6197FF5C);
    -fx-pref-height: 1020;
}
#rect2 {
    -fx-background-color: linear-gradient(#001AFF5E, #001AFF00);
    -fx-pref-height: 1024;
}
#maintxt {
    -fx-font-size: 96;
    -fx-font-family: Calibri;
}

#btn1, #btn2, #btn3 {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 55%, #FF002E 0%, #5B0010 100%);
    -fx-background-radius: 70;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 55%, #f58e93 0%, #5B0010 100%);
    -fx-cursor:hand
}